# **Import et etudes des fichiers**

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import fonctions as fc

In [7]:
# # Avant d'utiliser df.tail(), configurez les options d'affichage pour afficher toutes les colonnes
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [8]:
mortality = pd.read_csv('DATA\\MortalityRateAttributedToWater.csv')
political_stability = pd.read_csv('DATA\PoliticalStability.csv')
population = pd.read_csv('DATA\Population.csv')
region_country = pd.read_csv('DATA\RegionCountry.csv')
basic_and_safety = pd.read_csv('DATA\BasicAndSafelyManagedDrinkingWaterServices.csv')

## Population

In [9]:
population.head()

       Country Granularity  Year  Population
0  Afghanistan       Total  2000   20779.953
1  Afghanistan        Male  2000   10689.508
2  Afghanistan      Female  2000   10090.449
3  Afghanistan       Rural  2000   15657.474
4  Afghanistan       Urban  2000    4436.282

In [10]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20914 entries, 0 to 20913
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      20914 non-null  object
 1   Granularity  20914 non-null  object
 2   Year         20914 non-null  int64
 3   Population   20914 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 653.7+ KB

In [11]:
population.describe()

               Year    Population
count  20914.000000  2.091400e+04
mean    2009.046715  2.253164e+04
std        5.479195  1.000169e+05
min     2000.000000  0.000000e+00
25%     2004.000000  3.483462e+02
50%     2009.000000  3.016337e+03
75%     2014.000000  1.115043e+04
max     2018.000000  1.459378e+06

## Mortality

In [12]:
mortality.head()

,Year,Country,Granularity,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
0,2016,Afghanistan,Female,15.31193,NaN
1,2016,Afghanistan,Male,12.61297,NaN
2,2016,Afghanistan,Total,13.92067,4824.353
3,2016,Albania,Female,0.12552,NaN
4,2016,Albania,Male,0.20650,NaN

In [13]:
mortality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 5 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Year                                                           549 non-null    int64
 1   Country                                                        549 non-null    object
 2   Granularity                                                    549 non-null    object
 3   Mortality rate attributed to exposure to unsafe WASH services  549 non-null    float64
 4   WASH deaths                                                    183 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 21.6+ KB

In [14]:
mortality.describe()

,Year,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
count,549.0,549.000000,183.000000
mean,2016.0,12.493876,4756.097706
std,0.0,20.830508,21280.125369
min,2016.0,0.003960,0.082290
25%,2016.0,0.192960,11.163275
50%,2016.0,1.288710,130.983400
75%,2016.0,18.054780,1950.433500
max,2016.0,107.048020,246087.900000

## Political Stability

In [15]:
political_stability.head()

       Country  Year  Political_Stability Granularity
0  Afghanistan  2000                -2.44       Total
1  Afghanistan  2002                -2.04       Total
2  Afghanistan  2003                -2.20       Total
3  Afghanistan  2004                -2.30       Total
4  Afghanistan  2005                -2.07       Total

In [16]:
political_stability.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              3526 non-null   object
 1   Year                 3526 non-null   int64
 2   Political_Stability  3526 non-null   float64
 3   Granularity          3526 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 110.3+ KB

In [17]:
political_stability.describe()

              Year  Political_Stability
count  3526.000000          3526.000000
mean   2009.521838            -0.051044
std       5.255833             0.996039
min    2000.000000            -3.310000
25%    2005.000000            -0.710000
50%    2010.000000             0.050000
75%    2014.000000             0.797500
max    2018.000000             1.970000

## Region and country

In [18]:
region_country.head()

  REGION (DISPLAY) COUNTRY (DISPLAY)
0           Europe           Albania
1           Europe           Andorra
2           Europe           Armenia
3  Western Pacific         Australia
4           Europe           Austria

In [19]:
region_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REGION (DISPLAY)   194 non-null    object
 1   COUNTRY (DISPLAY)  194 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

## Basic and safety

In [20]:
basic_and_safety.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
0,2000,Afghanistan,Rural,21.61913,NaN
1,2000,Afghanistan,Total,27.77190,NaN
2,2000,Afghanistan,Urban,49.48745,NaN
3,2000,Albania,Rural,81.78472,NaN
4,2000,Albania,Total,87.86662,49.29324

In [21]:
basic_and_safety.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10476 entries, 0 to 10475
Data columns (total 5 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Year                                                         10476 non-null  int64
 1   Country                                                      10476 non-null  object
 2   Granularity                                                  10476 non-null  object
 3   Population using at least basic drinking-water services (%)  9415 non-null   float64
 4   Population using safely managed drinking-water services (%)  3286 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 409.3+ KB

# **Début des manipulations**

crétion d'un df avce les 4 fichiers

**Indicateurs à utiliser**

1. Le taux de mortalité dû à de l’eau insalubre.
2. La population/densité de population.
3. La part d’habitants ayant accès à l’eau potable.
4. La stabilité politique du pays.
5. L’évolution de ces facteurs dans le temps.

## Calcul de la Population urbaine

In [22]:
population.head()

       Country Granularity  Year  Population
0  Afghanistan       Total  2000   20779.953
1  Afghanistan        Male  2000   10689.508
2  Afghanistan      Female  2000   10090.449
3  Afghanistan       Rural  2000   15657.474
4  Afghanistan       Urban  2000    4436.282

In [23]:
# Regrouper les données par pays, année et Granularity, puis calculer la somme de la population
grouped = population.groupby(['Country', 'Year', 'Granularity'])['Population'].sum().unstack()

# Calculer la part de la population urbaine sur la population totale
grouped['Urban Population Share (%)'] = round((grouped['Urban'] / grouped['Total']) *100 ,2)

# Réinitialiser l'index
grouped.reset_index(inplace=True)

# Fusionner les données calculées avec le DataFrame d'origine
population = pd.merge(population, grouped[['Country', 'Year', 'Urban Population Share (%)']], on=['Country', 'Year'], how='left')

# Afficher le DataFrame avec la nouvelle colonne
population.tail()

        Country Granularity  Year  Population  Urban Population Share (%)
20909  Zimbabwe       Total  2018   14438.802                       37.73
20910  Zimbabwe        Male  2018    6879.119                       37.73
20911  Zimbabwe      Female  2018    7559.693                       37.73
20912  Zimbabwe       Rural  2018   11465.748                       37.73
20913  Zimbabwe       Urban  2018    5447.513                       37.73

## merge avec basic and safety

In [24]:
basic_and_safety.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
0,2000,Afghanistan,Rural,21.61913,NaN
1,2000,Afghanistan,Total,27.77190,NaN
2,2000,Afghanistan,Urban,49.48745,NaN
3,2000,Albania,Rural,81.78472,NaN
4,2000,Albania,Total,87.86662,49.29324

In [25]:
merged_data = population.merge(basic_and_safety, on=["Country", "Granularity", "Year"], how='left')
merged_data.head(10)

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN
1,Afghanistan,Male,2000,10689.508,21.35,NaN,NaN
2,Afghanistan,Female,2000,10090.449,21.35,NaN,NaN
3,Afghanistan,Rural,2000,15657.474,21.35,21.61913,NaN
4,Afghanistan,Urban,2000,4436.282,21.35,49.48745,NaN
5,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN
6,Afghanistan,Male,2001,11117.754,21.51,NaN,NaN
7,Afghanistan,Female,2001,10489.238,21.51,NaN,NaN
8,Afghanistan,Rural,2001,16318.324,21.51,21.61913,NaN
9,Afghanistan,Urban,2001,4648.139,21.51,49.48745,NaN

## merge avec political stability

In [26]:
political_stability.head(10)

       Country  Year  Political_Stability Granularity
0  Afghanistan  2000                -2.44       Total
1  Afghanistan  2002                -2.04       Total
2  Afghanistan  2003                -2.20       Total
3  Afghanistan  2004                -2.30       Total
4  Afghanistan  2005                -2.07       Total
5  Afghanistan  2006                -2.22       Total
6  Afghanistan  2007                -2.41       Total
7  Afghanistan  2008                -2.69       Total
8  Afghanistan  2009                -2.71       Total
9  Afghanistan  2010                -2.58       Total

In [27]:
merged_data = merged_data.merge(political_stability, on=["Country", "Year", "Granularity"], how='left')
merged_data.head(10)

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN,-2.44
1,Afghanistan,Male,2000,10689.508,21.35,NaN,NaN,NaN
2,Afghanistan,Female,2000,10090.449,21.35,NaN,NaN,NaN
3,Afghanistan,Rural,2000,15657.474,21.35,21.61913,NaN,NaN
4,Afghanistan,Urban,2000,4436.282,21.35,49.48745,NaN,NaN
5,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN,NaN
6,Afghanistan,Male,2001,11117.754,21.51,NaN,NaN,NaN
7,Afghanistan,Female,2001,10489.238,21.51,NaN,NaN,NaN
8,Afghanistan,Rural,2001,16318.324,21.51,21.61913,NaN,NaN
9,Afghanistan,Urban,2001,4648.139,21.51,49.48745,NaN,NaN

## Selection de la granularité totale

In [28]:
# Sélectionnez les lignes où 'Granularity' est égal à 'Total'
total_data_df = merged_data[merged_data['Granularity'] == 'Total']
# Affichez le DataFrame avec seulement les lignes 'Granularity' égales à 'Total'
total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN,-2.44
5,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN,NaN
10,Afghanistan,Total,2002,22600.770,21.65,29.90076,NaN,-2.04
15,Afghanistan,Total,2003,23680.871,21.77,32.00507,NaN,-2.20
20,Afghanistan,Total,2004,24726.684,21.95,34.12623,NaN,-2.30

## Jointures country avec le reste

In [29]:
region_country.head(10)

        REGION (DISPLAY) COUNTRY (DISPLAY)
0                 Europe           Albania
1                 Europe           Andorra
2                 Europe           Armenia
3        Western Pacific         Australia
4                 Europe           Austria
5                 Europe        Azerbaijan
6  Eastern Mediterranean           Bahrain
7        South-East Asia        Bangladesh
8                 Europe           Belarus
9                 Europe           Belgium

In [30]:
chine = region_country[region_country['COUNTRY (DISPLAY)']== 'China']
chine

   REGION (DISPLAY) COUNTRY (DISPLAY)
18  Western Pacific             China

In [31]:
total_data_df = total_data_df.merge(region_country, left_on="Country", right_on="COUNTRY (DISPLAY)", how='left')
total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY)
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN,-2.44,Eastern Mediterranean,Afghanistan
1,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN,NaN,Eastern Mediterranean,Afghanistan
2,Afghanistan,Total,2002,22600.770,21.65,29.90076,NaN,-2.04,Eastern Mediterranean,Afghanistan
3,Afghanistan,Total,2003,23680.871,21.77,32.00507,NaN,-2.20,Eastern Mediterranean,Afghanistan
4,Afghanistan,Total,2004,24726.684,21.95,34.12623,NaN,-2.30,Eastern Mediterranean,Afghanistan

## Création des part de la pop ayant accès et accès safe à l'eau et non accès à l'eau

In [32]:
total_data_df["part de la population ayant accès à l'eau"]= round(total_data_df['Population'] *( total_data_df['Population using at least basic drinking-water services (%)']/100),2)
total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN,-2.44,Eastern Mediterranean,Afghanistan,5770.99
1,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN,NaN,Eastern Mediterranean,Afghanistan,6006.15
2,Afghanistan,Total,2002,22600.770,21.65,29.90076,NaN,-2.04,Eastern Mediterranean,Afghanistan,6757.80
3,Afghanistan,Total,2003,23680.871,21.77,32.00507,NaN,-2.20,Eastern Mediterranean,Afghanistan,7579.08
4,Afghanistan,Total,2004,24726.684,21.95,34.12623,NaN,-2.30,Eastern Mediterranean,Afghanistan,8438.29

In [33]:
total_data_df["part de la population ayant accès sécurisé à l'eau"]= round(total_data_df['Population'] * (total_data_df['Population using safely managed drinking-water services (%)']/100),2)
total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN,-2.44,Eastern Mediterranean,Afghanistan,5770.99,NaN
1,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN,NaN,Eastern Mediterranean,Afghanistan,6006.15,NaN
2,Afghanistan,Total,2002,22600.770,21.65,29.90076,NaN,-2.04,Eastern Mediterranean,Afghanistan,6757.80,NaN
3,Afghanistan,Total,2003,23680.871,21.77,32.00507,NaN,-2.20,Eastern Mediterranean,Afghanistan,7579.08,NaN
4,Afghanistan,Total,2004,24726.684,21.95,34.12623,NaN,-2.30,Eastern Mediterranean,Afghanistan,8438.29,NaN

In [34]:
total_data_df["difference entre accès et accès safe"]= round((total_data_df["part de la population ayant accès à l'eau"] - total_data_df["part de la population ayant accès sécurisé à l'eau"]),2)
total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN,-2.44,Eastern Mediterranean,Afghanistan,5770.99,NaN,NaN
1,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN,NaN,Eastern Mediterranean,Afghanistan,6006.15,NaN,NaN
2,Afghanistan,Total,2002,22600.770,21.65,29.90076,NaN,-2.04,Eastern Mediterranean,Afghanistan,6757.80,NaN,NaN
3,Afghanistan,Total,2003,23680.871,21.77,32.00507,NaN,-2.20,Eastern Mediterranean,Afghanistan,7579.08,NaN,NaN
4,Afghanistan,Total,2004,24726.684,21.95,34.12623,NaN,-2.30,Eastern Mediterranean,Afghanistan,8438.29,NaN,NaN

In [35]:
total_data_df["part de la population n'ayant pas un accès à l'eau"]= round(total_data_df["Population"] -(total_data_df["difference entre accès et accès safe"] + total_data_df["part de la population ayant accès sécurisé à l'eau"]),2)
total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau
0,Afghanistan,Total,2000,20779.953,21.35,27.77190,NaN,-2.44,Eastern Mediterranean,Afghanistan,5770.99,NaN,NaN,NaN
1,Afghanistan,Total,2001,21606.988,21.51,27.79726,NaN,NaN,Eastern Mediterranean,Afghanistan,6006.15,NaN,NaN,NaN
2,Afghanistan,Total,2002,22600.770,21.65,29.90076,NaN,-2.04,Eastern Mediterranean,Afghanistan,6757.80,NaN,NaN,NaN
3,Afghanistan,Total,2003,23680.871,21.77,32.00507,NaN,-2.20,Eastern Mediterranean,Afghanistan,7579.08,NaN,NaN,NaN
4,Afghanistan,Total,2004,24726.684,21.95,34.12623,NaN,-2.30,Eastern Mediterranean,Afghanistan,8438.29,NaN,NaN,NaN

## Normalisation des données

In [36]:
# x_normalized = (x - min(colonne)) / (max(colonne) - min(colonne))
# x_normalized = (x - moyenne(colonne)) / écart-type(colonne)

# Créez un MinMaxScaler pour normaliser les colonnes
scaler = MinMaxScaler()

# Normalisez les colonnes "col1" et "col2"
columns_to_normalize = ['Political_Stability', 'Urban Population Share (%)']
total_data_df[columns_to_normalize] = scaler.fit_transform(total_data_df[columns_to_normalize])

total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau
0,Afghanistan,Total,2000,20779.953,0.189525,27.77190,NaN,0.164773,Eastern Mediterranean,Afghanistan,5770.99,NaN,NaN,NaN
1,Afghanistan,Total,2001,21606.988,0.190945,27.79726,NaN,NaN,Eastern Mediterranean,Afghanistan,6006.15,NaN,NaN,NaN
2,Afghanistan,Total,2002,22600.770,0.192188,29.90076,NaN,0.240530,Eastern Mediterranean,Afghanistan,6757.80,NaN,NaN,NaN
3,Afghanistan,Total,2003,23680.871,0.193253,32.00507,NaN,0.210227,Eastern Mediterranean,Afghanistan,7579.08,NaN,NaN,NaN
4,Afghanistan,Total,2004,24726.684,0.194851,34.12623,NaN,0.191288,Eastern Mediterranean,Afghanistan,8438.29,NaN,NaN,NaN

# Création du deuxième csv avec un tri sur l'année 2016 afin de faire la jointure avec les données de mortalités sur cette année

## jointure avce le fichier de mortalité

In [37]:
# selection de l'année 2016
Dataframe_mortalité_2016_total = total_data_df[(total_data_df['Year'] == 2016)]

# Réinitialisez l'index
Dataframe_mortalité_2016_total = Dataframe_mortalité_2016_total.reset_index(drop=True)

# Affichez le DataFrame réinitialisé
Dataframe_mortalité_2016_total.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau
0,Afghanistan,Total,2016,35383.032,0.217577,64.28648,NaN,0.121212,Eastern Mediterranean,Afghanistan,22746.51,NaN,NaN,NaN
1,Albania,Total,2016,2886.438,0.525788,91.02037,69.98433,0.691288,Europe,Albania,2627.25,2020.05,607.20,259.19
2,Algeria,Total,2016,40551.392,0.635153,93.51585,NaN,0.418561,Africa,Algeria,37921.98,NaN,NaN,NaN
3,American Samoa,Total,2016,55.741,0.772126,NaN,NaN,0.852273,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,Total,2016,77.297,0.783222,100.00000,90.64000,0.893939,Europe,Andorra,77.30,70.06,7.24,-0.00

In [38]:
# selection de la granularité correspondante
mortality = mortality[mortality['Granularity']== 'Total']

In [39]:
Dataframe_mortalité = pd.merge(Dataframe_mortalité_2016_total, mortality, on='Country')
Dataframe_mortalité.head()

,Country,Granularity_x,Year_x,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau,Year_y,Granularity_y,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
0,Afghanistan,Total,2016,35383.032,0.217577,64.28648,NaN,0.121212,Eastern Mediterranean,Afghanistan,22746.51,NaN,NaN,NaN,2016,Total,13.92067,4824.35300
1,Albania,Total,2016,2886.438,0.525788,91.02037,69.98433,0.691288,Europe,Albania,2627.25,2020.05,607.2,259.19,2016,Total,0.16641,4.86975
2,Algeria,Total,2016,40551.392,0.635153,93.51585,NaN,0.418561,Africa,Algeria,37921.98,NaN,NaN,NaN,2016,Total,1.86723,758.21000
3,Angola,Total,2016,28842.489,0.568842,55.08428,NaN,0.566288,Africa,Angola,15887.68,NaN,NaN,NaN,2016,Total,48.81467,14065.20000
4,Antigua and Barbuda,Total,2016,94.527,0.235597,96.73919,NaN,0.793561,Americas,Antigua and Barbuda,91.44,NaN,NaN,NaN,2016,Total,0.11403,0.11513

## Wash death en en entier

In [40]:
Dataframe_mortalité["WASH deaths"] = Dataframe_mortalité["WASH deaths"].astype(int)
Dataframe_mortalité.head()

,Country,Granularity_x,Year_x,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau,Year_y,Granularity_y,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
0,Afghanistan,Total,2016,35383.032,0.217577,64.28648,NaN,0.121212,Eastern Mediterranean,Afghanistan,22746.51,NaN,NaN,NaN,2016,Total,13.92067,4824
1,Albania,Total,2016,2886.438,0.525788,91.02037,69.98433,0.691288,Europe,Albania,2627.25,2020.05,607.2,259.19,2016,Total,0.16641,4
2,Algeria,Total,2016,40551.392,0.635153,93.51585,NaN,0.418561,Africa,Algeria,37921.98,NaN,NaN,NaN,2016,Total,1.86723,758
3,Angola,Total,2016,28842.489,0.568842,55.08428,NaN,0.566288,Africa,Angola,15887.68,NaN,NaN,NaN,2016,Total,48.81467,14065
4,Antigua and Barbuda,Total,2016,94.527,0.235597,96.73919,NaN,0.793561,Americas,Antigua and Barbuda,91.44,NaN,NaN,NaN,2016,Total,0.11403,0

 ## Colonne taux de mortalité eau insalubre

In [41]:
# ajout de la colonne taux de mortalité du à l'eau insalubre
Dataframe_mortalité["taux de mortalité du à l'eau insalubre (%)"] = round((Dataframe_mortalité["WASH deaths"] / Dataframe_mortalité["Population"])*100,2)
Dataframe_mortalité.head()

,Country,Granularity_x,Year_x,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau,Year_y,Granularity_y,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,taux de mortalité du à l'eau insalubre (%)
0,Afghanistan,Total,2016,35383.032,0.217577,64.28648,NaN,0.121212,Eastern Mediterranean,Afghanistan,22746.51,NaN,NaN,NaN,2016,Total,13.92067,4824,13.63
1,Albania,Total,2016,2886.438,0.525788,91.02037,69.98433,0.691288,Europe,Albania,2627.25,2020.05,607.2,259.19,2016,Total,0.16641,4,0.14
2,Algeria,Total,2016,40551.392,0.635153,93.51585,NaN,0.418561,Africa,Algeria,37921.98,NaN,NaN,NaN,2016,Total,1.86723,758,1.87
3,Angola,Total,2016,28842.489,0.568842,55.08428,NaN,0.566288,Africa,Angola,15887.68,NaN,NaN,NaN,2016,Total,48.81467,14065,48.76
4,Antigua and Barbuda,Total,2016,94.527,0.235597,96.73919,NaN,0.793561,Americas,Antigua and Barbuda,91.44,NaN,NaN,NaN,2016,Total,0.11403,0,0.00

In [42]:
Dataframe_mortalité.drop(["Year_y", "Granularity_y", "Country"], axis=1,inplace =True)
Dataframe_mortalité.head()

,Granularity_x,Year_x,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,taux de mortalité du à l'eau insalubre (%)
0,Total,2016,35383.032,0.217577,64.28648,NaN,0.121212,Eastern Mediterranean,Afghanistan,22746.51,NaN,NaN,NaN,13.92067,4824,13.63
1,Total,2016,2886.438,0.525788,91.02037,69.98433,0.691288,Europe,Albania,2627.25,2020.05,607.2,259.19,0.16641,4,0.14
2,Total,2016,40551.392,0.635153,93.51585,NaN,0.418561,Africa,Algeria,37921.98,NaN,NaN,NaN,1.86723,758,1.87
3,Total,2016,28842.489,0.568842,55.08428,NaN,0.566288,Africa,Angola,15887.68,NaN,NaN,NaN,48.81467,14065,48.76
4,Total,2016,94.527,0.235597,96.73919,NaN,0.793561,Americas,Antigua and Barbuda,91.44,NaN,NaN,NaN,0.11403,0,0.00

## Création des csv

In [43]:
# Création des csv afin de les utliser dans Tableau
total_data_df.to_csv("Données_long_terme.csv", index=False)
Dataframe_mortalité.to_csv("Données2016.csv", index=False)

In [44]:
total_data_df.head()

,Country,Granularity,Year,Population,Urban Population Share (%),Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Political_Stability,REGION (DISPLAY),COUNTRY (DISPLAY),part de la population ayant accès à l'eau,part de la population ayant accès sécurisé à l'eau,difference entre accès et accès safe,part de la population n'ayant pas un accès à l'eau
0,Afghanistan,Total,2000,20779.953,0.189525,27.77190,NaN,0.164773,Eastern Mediterranean,Afghanistan,5770.99,NaN,NaN,NaN
1,Afghanistan,Total,2001,21606.988,0.190945,27.79726,NaN,NaN,Eastern Mediterranean,Afghanistan,6006.15,NaN,NaN,NaN
2,Afghanistan,Total,2002,22600.770,0.192188,29.90076,NaN,0.240530,Eastern Mediterranean,Afghanistan,6757.80,NaN,NaN,NaN
3,Afghanistan,Total,2003,23680.871,0.193253,32.00507,NaN,0.210227,Eastern Mediterranean,Afghanistan,7579.08,NaN,NaN,NaN
4,Afghanistan,Total,2004,24726.684,0.194851,34.12623,NaN,0.191288,Eastern Mediterranean,Afghanistan,8438.29,NaN,NaN,NaN

In [46]:
# Convert the columns to numeric
total_data_df['Population'] = pd.to_numeric(total_data_df['Population'], errors='coerce')
total_data_df['Population using at least basic drinking-water services (%)'] = pd.to_numeric(total_data_df['Population using at least basic drinking-water services (%)'], errors='coerce')

# Perform the division operation
total_data_df['pct_change'] = total_data_df['Population using at least basic drinking-water services (%)'].pct_change()

# Print the result
print(total_data_df['pct_change'])

0            NaN
1       0.000913
2       0.075673
3       0.070376
4       0.066276
          ...
4425   -0.007591
4426   -0.007447
4427   -0.007297
4428   -0.007137
4429    0.000000
Name: pct_change, Length: 4430, dtype: float64